:root {
  --surface--primary: var(--_color-values---swatch--swatch--navy--50);
  --_type-system---font-family: var(--_type-values---family--1);
  --ink--secondary: var(--_color-values---swatch--dark);
  --_type-system---font-size: var(--_type-values---size--0);
  --_type-system---line-height: var(--_type-values---font-height--130);
  --_type-system---font-weight: var(--_type-values---weight--0);
  --_type-system---letter-spacing: var(--_type-values---spacing--0em);
  --_type-system---text-transform: var(--_type-values---transform--none);
  --_type-system---text-decoration: var(--_type-values---decoration--none);
  --_defaults---layout--margin: var(--_defaults---gap--7);
  --_defaults---layout--width: calc(var(--_defaults---layout--screen-max) * 1rem);
  --surface--secondary: var(--_color-values---swatch--light);
  --surface--tertiary: var(--_color-values---swatch--neutral--100);
  --_type-values---weight--0: 400;
  --_type-values---weight--1: 500;
  --_type-values---transform--none: var(--text-transform, none);
  --_type-values---transform--uppercase: uppercase;
  --_type-values---transform--capitalize: capitalize;
  --_type-values---transform--lowercase: lowercase;
  --_type-values---decoration--none: var(--text-decoration, none);
  --_type-values---decoration--underline: underline;
  --ink--primary: var(--_color-values---swatch--navy);
  --ink--tertiary: var(--_color-values---swatch--neutral--400);
  --ink--accent: var(--_color-values---swatch--red);
  --_defaults---gap--8: var(--_defaults---0);
  --_defaults---gap--6: clamp(1.25rem, .37vw + 1.167rem, 1.5rem);
  --_color-values---swatch--navy: #171b33;
  --_type-values---family--1: Archivo, Arial, sans-serif;
  --_color-values---swatch--light: #fff;
  --_color-values---swatch--swatch--navy--50: #f5f6fc;
  --_defaults---gap--7: clamp(1.5rem, .741vw + 1.333rem, 2rem);
  --_defaults---gap--5: clamp(.75rem, .37vw + .667rem, 1rem);
  --_color-values---swatch--dark: #0a0a0a;
  --_color-values---swatch--red: #ff2c2f;
  --_defaults---gap--4: clamp(.625rem, .185vw + .583rem, .75rem);
  --_color-values---swatch--blue: #2d4cff;
  --_defaults---gap--0: 0rem;
  --_defaults---gap--2: .25rem;
  --_defaults---gap--3: clamp(.375rem, .185vw + .333rem, .5rem);
  --_defaults---gap--9: clamp(3rem, 1.481vw + 2.667rem, 4rem);
  --_type-values---family--0: "Styrene A LC", Arial, sans-serif;
  --_color-values---swatch--green: #9ec741;
  --_defaults---0: clamp(4rem, 2.222vw + 3.5rem, 5.5rem);
  --_defaults---gap--11: clamp(5.5rem, 3.704vw + 4.667rem, 8rem);
  --stroke--primary: var(--_color-values---swatch--neutral--200);
  --_color-values---swatch--blue--50: color-mix(in srgb, var(--_color-values---swatch--blue) 10%, var(--_color-values---swatch--light));
  --_defaults---gap--1: .125rem;
  --_defaults---gap--13: clamp(11.5rem, 7.407vw + 9.833rem, 16.5rem);
  --_defaults---gap--12: clamp(7.5rem, 7.407vw + 5.833rem, 12.5rem);
  --_type-values---font-height--160: 160%;
  --_type-values---font-height--140: 140%;
  --_color-values---swatch--neutral--100: color-mix(in srgb, var(--_color-values---swatch--dark) 8%, var(--_color-values---swatch--light));
  --_type-values---font-height--100: 100%;
  --_type-values---size--1: 1.1875rem;
  --_type-values---size--3: clamp(1.3755rem, (1.375 - ((1.625 - 1.375) / (var(--_defaults---layout--screen-max)  - var(--_defaults---layout--screen-min)) * var(--_defaults---layout--screen-min))) * 1rem + ((1.625 - 1.375) / (var(--_defaults---layout--screen-max)  - var(--_defaults---layout--screen-min))) * 100vw, 1.625rem);
  --_type-values---size--0: .96875rem;
  --_defaults---layout--screen-min: 22.5;
  --_defaults---layout--screen-max: 110;
  --_defaults---layout--gutter: var(--_defaults---gap--6);
  --_defaults---layout--row: var(--_defaults---gap--6);
  --_defaults---section--padding-small: var(--_defaults---gap--8);
  --_defaults---section--padding-base: var(--_defaults---gap--11);
  --_defaults---section--padding-large: var(--_defaults---gap--12);
  --_color-values---swatch--neutral--50: color-mix(in srgb, var(--_color-values---swatch--dark) 8%, var(--_color-values---swatch--light));
  --_color-values---swatch--neutral--200: color-mix(in srgb, var(--_color-values---swatch--dark) 20%, var(--_color-values---swatch--light));
  --_color-values---swatch--neutral--300: color-mix(in srgb, var(--_color-values---swatch--dark) 32%, var(--_color-values---swatch--light));
  --_color-values---swatch--neutral--400: color-mix(in srgb, var(--_color-values---swatch--dark) 44%, var(--_color-values---swatch--light));
  --_color-values---swatch--neutral--500: color-mix(in srgb, var(--_color-values---swatch--dark) 60%, var(--_color-values---swatch--light));
  --_color-values---swatch--neutral--600: color-mix(in srgb, var(--_color-values---swatch--dark) 68%, var(--_color-values---swatch--light));
  --_color-values---swatch--neutral--700: color-mix(in srgb, var(--_color-values---swatch--dark) 84%, var(--_color-values---swatch--light));
  --_color-values---swatch--neutral--800: color-mix(in srgb, var(--_color-values---swatch--dark) 90%, var(--_color-values---swatch--light));
  --_color-values---swatch--neutral--900: color-mix(in srgb, var(--_color-values---swatch--dark) 96%, var(--_color-values---swatch--light));
  --_color-values---swatch--swatch--navy--900: #0b0d19;
  --_type-values---size--2: clamp(1.1875rem, (1.1875 - ((1.375 - 1.1875) / (var(--_defaults---layout--screen-max)  - var(--_defaults---layout--screen-min)) * var(--_defaults---layout--screen-min))) * 1rem + ((1.375 - 1.1875) / (var(--_defaults---layout--screen-max)  - var(--_defaults---layout--screen-min))) * 100vw, 1.375rem);
  --_type-values---size--4: clamp(1.3755rem, (1.375 - ((2 - 1.375) / (var(--_defaults---layout--screen-max)  - var(--_defaults---layout--screen-min)) * var(--_defaults---layout--screen-min))) * 1rem + ((2 - 1.375) / (var(--_defaults---layout--screen-max)  - var(--_defaults---layout--screen-min))) * 100vw, 2rem);
  --_type-values---size--5: clamp(1.75rem, (1.75 - ((3.25 - 1.75) / (var(--_defaults---layout--screen-max)  - var(--_defaults---layout--screen-min)) * var(--_defaults---layout--screen-min))) * 1rem + ((3.25 - 1.75) / (var(--_defaults---layout--screen-max)  - var(--_defaults---layout--screen-min))) * 100vw, 3.25rem);
  --_type-values---size--6: clamp(1.75rem, (1.75 - ((4.5 - 1.75) / (var(--_defaults---layout--screen-max)  - var(--_defaults---layout--screen-min)) * var(--_defaults---layout--screen-min))) * 1rem + ((4.5 - 1.75) / (var(--_defaults---layout--screen-max)  - var(--_defaults---layout--screen-min))) * 100vw, 4.5rem);
  --_color-values---swatch--blue--100: color-mix(in srgb, var(--_color-values---swatch--blue) 25%, var(--_color-values---swatch--light));
  --_type-values---font-height--130: 130%;
  --_type-values---spacing--0em: 0em;
  --_type-values---spacing--0-02em: -.02em;
  --_type-values---spacing--0-04em: -.04em;
  --_defaults---radius--0: .25rem;
  --_defaults---radius--1: .5rem;
  --_defaults---radius--2: 1.5rem;
  --_defaults---border--0: .03125rem;
  --_defaults---border--1: .0625rem;
  --_defaults---border--2: .09375rem;
}

body {
  background-color: var(--surface--primary);
  font-family: var(--_type-system---font-family);
  color: var(--ink--secondary);
  font-size: var(--_type-system---font-size);
  line-height: var(--_type-system---line-height);
  font-weight: var(--_type-system---font-weight);
  letter-spacing: var(--_type-system---letter-spacing);
  text-transform: var(--_type-system---text-transform);
  -webkit-text-decoration: var(--_type-system---text-decoration);
  text-decoration: var(--_type-system---text-decoration);
}

p {
  color: inherit;
}

a {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  outline-offset: 0px;
  border-radius: .25rem;
  outline-width: 0;
  outline-style: solid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all .15s ease-in-out;
}

ul {
  margin-bottom: 0;
  padding-left: 1.5rem;
}

ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

li {
  margin-top: .25rem;
  margin-bottom: .25rem;
  padding-left: .5rem;
}

label {
  font-weight: 700;
}

strong {
  font-weight: bold;
}

blockquote {
  border-left: .1875rem solid #000;
  margin-bottom: 0;
  padding: .75rem 1.25rem;
}

.code {
  display: none;
}

.page {
  flex-flow: column;
  min-height: 100svh;
  display: flex;
  overflow: clip;
}

.lyt {
  height: auto;
  color: var(--ink--secondary);
  --surface--primary: var(--_color-values---swatch--swatch--navy--50);
  --ink--secondary: var(--_color-values---swatch--dark);
  --surface--secondary: var(--_color-values---swatch--light);
  --surface--tertiary: var(--_color-values---swatch--neutral--100);
  --ink--primary: var(--_color-values---swatch--navy);
  --ink--tertiary: var(--_color-values---swatch--neutral--400);
  --ink--accent: var(--_color-values---swatch--red);
  --stroke--primary: var(--_color-values---swatch--neutral--200);
  width: calc(100% - 2 * var(--_defaults---layout--margin));
  max-width: var(--_defaults---layout--width);
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  position: relative;
}

.lyt:where(.w-variant-37a363e4-7b16-d2f8-968c-b7d7f34e26b4), .lyt:where(.w-variant-7f47ddbb-b5dd-5eb8-9273-4e68405d7cc0), .lyt:where(.w-variant-7e5c3477-51cd-1a98-b53b-8a33a8a55ce0), .lyt:where(.w-variant-11f839b9-efbd-cf79-df10-59c1a4d4e037), .lyt:where(.w-variant-5e70669c-fee1-2bbf-5786-f24abe3ed00a), .lyt:where(.w-variant-ebf4327a-81f6-45f8-11a4-1ae868266641), .lyt:where(.w-variant-5949aefb-1cee-90cc-73ab-a64177f1e9c5), .lyt:where(.w-variant-05201217-726a-c7c7-182a-c5b44821ab7b), .lyt:where(.w-variant-3c666e9b-d587-3020-ddc3-885c71d7dba8), .lyt:where(.w-variant-2285c619-b6f5-7119-b711-b91d551bb2f7), .lyt:where(.w-variant-41c6c753-27d2-e8e5-6dc4-f1de5daeeeba), .lyt:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d), .lyt:where(.w-variant-654ad9ab-e41b-7582-8b9b-9675cc733ef7), .lyt:where(.w-variant-bbc000a1-a360-4609-7d2f-cd4cda3d149b), .lyt:where(.w-variant-1c96f436-9a4c-330a-0258-455b53842d8c), .lyt:where(.w-variant-2bf1a91e-8dd9-15de-bba9-9d732782d06f), .lyt:where(.w-variant-492a546c-341b-b12e-d294-7f2860746c47), .lyt:where(.w-variant-e380b03a-58a5-a6a6-ee8e-fcd448979913), .lyt:where(.w-variant-1a081f10-da92-4cc5-3dc1-0b29f175c4ac) {
  --surface--primary: var(--_color-values---swatch--swatch--navy--900);
  --ink--secondary: var(--_color-values---swatch--neutral--50);
  --surface--secondary: var(--_color-values---swatch--neutral--900);
  --surface--tertiary: var(--_color-values---swatch--neutral--800);
  --ink--primary: var(--_color-values---swatch--light);
  --ink--tertiary: var(--_color-values---swatch--neutral--200);
  --ink--accent: var(--_color-values---swatch--red);
  --stroke--primary: var(--_color-values---swatch--neutral--700);
}

.lyt.grow-1 {
  width: calc(100% - 2 * var(--_defaults---layout--margin));
  margin-top: 0;
  padding-top: 128px;
}

.lyt-bg {
  z-index: -1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.lyt-bg:where(.w-variant-f3e91557-9bc6-88c8-151f-0c8fefcd82a1) {
  background-color: var(--surface--primary);
}

.lyt-bg:where(.w-variant-2943dd09-ff38-4814-6398-8cab3a8312e2) {
  background-color: var(--surface--secondary);
}

.lyt-bg:where(.w-variant-2b4d0a6a-5124-5e35-1cc3-ed5f08c3b93e) {
  background-color: var(--surface--tertiary);
}

.f1 {
  font-family: var(--_type-system---font-family);
  font-size: var(--_type-system---font-size);
  line-height: var(--_type-system---line-height);
  font-weight: var(--_type-system---font-weight);
  letter-spacing: var(--_type-system---letter-spacing);
  --_type-system---font-family: var(--_type-values---family--1);
  --_type-system---font-size: var(--_type-values---size--1);
  --_type-system---line-height: var(--_type-values---font-height--130);
  --_type-system---font-weight: var(--_type-values---weight--0);
  --_type-system---letter-spacing: var(--_type-values---spacing--0em);
  --_type-system---text-transform: var(--_type-values---transform--none);
  --_type-system---text-decoration: var(--_type-values---decoration--none);
  -webkit-text-decoration: var(--_type-system---text-decoration);
  text-decoration: var(--_type-system---text-decoration);
  text-transform: var(--_type-system---text-transform);
}

.f2 {
  font-family: var(--_type-system---font-family);
  font-size: var(--_type-system---font-size);
  line-height: var(--_type-system---line-height);
  font-weight: var(--_type-system---font-weight);
  letter-spacing: var(--_type-system---letter-spacing);
  --_type-system---font-family: var(--_type-values---family--1);
  --_type-system---font-size: var(--_type-values---size--2);
  --_type-system---line-height: var(--_type-values---font-height--130);
  --_type-system---font-weight: var(--_type-values---weight--0);
  --_type-system---letter-spacing: var(--_type-values---spacing--0em);
  --_type-system---text-transform: var(--_type-values---transform--none);
  --_type-system---text-decoration: var(--_type-values---decoration--none);
  -webkit-text-decoration: var(--_type-system---text-decoration);
  text-decoration: var(--_type-system---text-decoration);
  text-transform: var(--_type-system---text-transform);
}

.f4 {
  font-family: var(--_type-system---font-family);
  font-size: var(--_type-system---font-size);
  line-height: var(--_type-system---line-height);
  font-weight: var(--_type-system---font-weight);
  letter-spacing: var(--_type-system---letter-spacing);
  --_type-system---font-family: var(--_type-values---family--0);
  --_type-system---font-size: var(--_type-values---size--4);
  --_type-system---line-height: var(--_type-values---font-height--100);
  --_type-system---font-weight: var(--_type-values---weight--1);
  --_type-system---letter-spacing: var(--_type-values---spacing--0em);
  --_type-system---text-transform: var(--_type-values---transform--uppercase);
  --_type-system---text-decoration: var(--_type-values---decoration--none);
  -webkit-text-decoration: var(--_type-system---text-decoration);
  text-decoration: var(--_type-system---text-decoration);
  text-transform: var(--_type-system---text-transform);
}

.fw0 {
  font-weight: var(--_type-values---weight--0);
}

.fw1 {
  font-weight: var(--_type-values---weight--1);
}

.tt0 {
  text-transform: var(--_type-values---transform--none);
}

.tt1 {
  text-transform: var(--_type-values---transform--uppercase);
}

.ink-accent {
  color: var(--ink--accent);
}

.link_content {
  grid-column-gap: var(--_defaults---gap--8);
  grid-row-gap: var(--_defaults---gap--8);
  height: 3.25rem;
  font-size: var(--_type-system---font-size);
  line-height: var(--_type-system---line-height);
  letter-spacing: .05em;
  --_type-system---font-family: var(--_type-values---family--1);
  --_type-system---font-size: var(--_type-values---size--0);
  --_type-system---line-height: var(--_type-values---font-height--130);
  --_type-system---font-weight: var(--_type-values---weight--0);
  --_type-system---letter-spacing: var(--_type-values---spacing--0em);
  --_type-system---text-transform: var(--_type-values---transform--none);
  --_type-system---text-decoration: var(--_type-values---decoration--none);
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  font-family: inherit;
  font-weight: Inherit;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.125rem;
  padding-right: .5rem;
  display: inline-flex;
  position: relative;
}

.link_content:where(.w-variant-17d4eb77-ee37-18f9-b1a1-c8a1efc16bf6) {
  height: 2.5rem;
  padding-left: 1rem;
}

.link_content:where(.w-variant-995b6fc9-9505-e2bf-924c-572158f126ed) {
  grid-column-gap: var(--_defaults---gap--8);
  grid-row-gap: var(--_defaults---gap--8);
  --_type-system---font-family: var(--_type-values---family--1);
  --_type-system---font-size: var(--_type-values---size--1);
  --_type-system---line-height: var(--_type-values---font-height--130);
  --_type-system---font-weight: var(--_type-values---weight--0);
  --_type-system---letter-spacing: var(--_type-values---spacing--0em);
  --_type-system---text-transform: var(--_type-values---transform--none);
  --_type-system---text-decoration: var(--_type-values---decoration--none);
  height: 4rem;
  padding-left: 1.5rem;
}

.link_content.small {
  height: 2.5rem;
  padding-left: 1rem;
}

.link {
  background-color: var(--_color-values---swatch--navy);
  font-family: var(--_type-values---family--1);
  color: var(--_color-values---swatch--light);
  font-weight: var(--_type-values---weight--1);
  letter-spacing: .5em;
  text-transform: uppercase;
  border: 1.5px solid #0000;
  border-radius: 0;
  padding: 0;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease;
  overflow: hidden;
}

.link:where(.w-variant-2b7e2cdd-e5f6-4cce-05d1-c7303587a352) {
  font-weight: var(--_type-values---weight--1);
  color: inherit;
  background-color: #0000;
  border-style: none;
}

.link:where(.w-variant-d2ba1a90-7d68-7129-18fb-80b378ce6785), .link:where(.w-variant-355736f3-40aa-7a4b-36c4-260004574df2) {
  background-color: var(--surface--secondary);
  color: var(--ink--secondary);
}

.link:where(.w-variant-241a09c8-8aad-6d6a-94bf-2b79f76ad20d) {
  font-weight: var(--_type-values---weight--1);
  color: inherit;
  background-color: #0000;
  border-style: none;
}

.link:hover:where(.w-variant-d2ba1a90-7d68-7129-18fb-80b378ce6785) {
  background-color: var(--surface--tertiary);
  color: var(--ink--secondary);
}

.link:hover:where(.w-variant-2b7e2cdd-e5f6-4cce-05d1-c7303587a352) {
  background-color: #0000;
}

.link:hover:where(.w-variant-355736f3-40aa-7a4b-36c4-260004574df2) {
  background-color: var(--surface--tertiary);
}

.link:hover:where(.w-variant-241a09c8-8aad-6d6a-94bf-2b79f76ad20d) {
  background-color: #0000;
}

.icon {
  aspect-ratio: 1;
  width: 1rem;
  color: inherit;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon:where(.w-variant-71515bb9-1674-3b5e-7934-0669478ffd53) {
  width: 1.5rem;
}

.icon:where(.w-variant-d83094fb-f781-e7ae-a946-5cc311a544d5) {
  width: 3rem;
}

.icon:where(.w-variant-66e1b8d7-067b-4e97-c42e-5af8fea4f5ef) {
  width: auto;
}

.icon_svg {
  color: inherit;
}

.icon_svg:where(.w-variant-1d89131d-df67-df5e-36f6-b2b4b887b249) {
  color: var(--ink--primary);
}

.icon_svg:where(.w-variant-316892cf-42f5-3681-6ba7-d7416d5124ad) {
  color: var(--ink--secondary);
}

.icon_svg:where(.w-variant-28a63941-d59f-7bd8-f6de-f7e53ee46d7f) {
  color: var(--ink--tertiary);
}

.icon_svg:where(.w-variant-d1583bef-d7d6-5bc3-9344-9188a2601def) {
  color: var(--ink--accent);
}

.f6 {
  font-family: var(--_type-system---font-family);
  font-size: var(--_type-system---font-size);
  line-height: var(--_type-system---line-height);
  font-weight: var(--_type-system---font-weight);
  letter-spacing: var(--_type-system---letter-spacing);
  --_type-system---font-family: var(--_type-values---family--0);
  --_type-system---font-size: var(--_type-values---size--6);
  --_type-system---line-height: var(--_type-values---font-height--100);
  --_type-system---font-weight: var(--_type-values---weight--1);
  --_type-system---letter-spacing: var(--_type-values---spacing--0-04em);
  --_type-system---text-transform: var(--_type-values---transform--uppercase);
  --_type-system---text-decoration: var(--_type-values---decoration--none);
  -webkit-text-decoration: var(--_type-system---text-decoration);
  text-decoration: var(--_type-system---text-decoration);
  text-transform: var(--_type-system---text-transform);
}

.link_icon_wrapper {
  z-index: 2;
  background-color: var(--_color-values---swatch--swatch--navy--50);
  width: 2rem;
  height: 2rem;
  color: var(--_color-values---swatch--navy);
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.header {
  z-index: 999;
  margin-top: var(--_defaults---gap--7);
  transition: opacity .45s cubic-bezier(.77, 0, .175, 1);
  position: fixed;
  inset: 0% 0% auto;
}

.header_block {
  z-index: 999;
  padding: var(--_defaults---gap--7);
  background-color: var(--surface--secondary);
  justify-content: space-between;
  display: flex;
  position: relative;
}

.header_logo {
  justify-content: center;
  align-items: center;
  width: 14rem;
  display: flex;
}

.header_nav {
  grid-column-gap: var(--_defaults---gap--6);
  grid-row-gap: var(--_defaults---gap--6);
  display: flex;
}

.header_nav_link {
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.header_nav_link.header_hidden_link, .header_nav_link.header_hidden_link.w--current, .header_nav_link.header_hidden_link, .header_nav_link.header_hidden_link.w--current {
  display: none;
}

.header_block_patch {
  z-index: 999;
  width: var(--_defaults---gap--6);
  height: var(--_defaults---gap--6);
  background-color: var(--surface--primary);
  transition: background-color .15s;
  position: absolute;
  inset: 0% 0% auto auto;
}

.header_block_patch.is--left {
  z-index: 999;
  z-index: 999;
  inset: auto auto 0% 0%;
  inset: auto auto 0% 0%;
}

.ff0 {
  font-family: var(--_type-values---family--0);
}

.ff0.tt1 {
  cursor: pointer;
  transition: all .45s cubic-bezier(.23, 1, .32, 1);
}

.ff1 {
  font-family: var(--_type-values---family--1);
}

.footer_content:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  grid-column-gap: var(--_defaults---gap--9);
  grid-row-gap: var(--_defaults---gap--9);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer_logo:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  width: 100%;
}

.footer_group.footer_newsletter_group:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d), .footer_group.footer_newsletter_group.invert-17 {
  display: block;
}

.footer_group.footer_newsletter_group:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d), .footer_group.footer_newsletter_group.invert-17 {
  display: block;
}

.footer_group.footer_newsletter_group.invert-19 {
  display: none;
}

.footer_form:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  position: relative;
}

.footer_form_submit {
  background-color: var(--_color-values---swatch--swatch--navy--50);
  width: 2rem;
  height: 2rem;
  color: var(--_color-values---swatch--navy);
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer_form_submit:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  width: 4rem;
  height: 4rem;
  position: absolute;
  inset: .5rem .5rem 0% auto;
}

.footer_form_input:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  border-top: 1px #000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right: 1px #000;
  border-bottom-color: var(--stroke--primary);
  width: 100%;
  height: 5rem;
  color: var(--ink--secondary);
  text-transform: uppercase;
  background-color: #0000;
  border-left: 1px #000;
  padding-left: 1rem;
  font-size: 16px;
}

.footer_form_input::placeholder:where() {
  color: #fff6;
}

.footer_social_link:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  border: 1px solid var(--stroke--primary);
  border-radius: .125rem;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  display: flex;
}

.footer_link {
  text-transform: uppercase;
}

.footer_link:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  opacity: .6;
}

.footer_link:hover:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  opacity: 100;
}

.footer_link.w--current:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  opacity: 1;
}

.footer_animation_wrapper:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  width: 100%;
  min-height: 520px;
  overflow: hidden;
}

.header_mark {
  background-color: var(--_color-values---swatch--red);
  width: .5rem;
  height: .5rem;
}

.about_hero_paragraph.f2.ch44 {
  padding-top: 20px;
}

.about_hero_link_wrapper {
  position: absolute;
  bottom: 10%;
}

.about_hero_block {
  min-height: 100svh;
  padding-top: var(--_defaults---gap--12);
  padding-bottom: var(--_defaults---gap--12);
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -120px;
  display: flex;
  position: relative;
}

.about_hero_path {
  position: absolute;
  top: 102%;
  left: 94%;
}

.about_mission_patch {
  background-color: var(--_color-values---swatch--blue);
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  top: 0;
  left: -9rem;
}

.about_mission_patch.floating_right {
  background-color: var(--_color-values---swatch--red);
  inset: auto -4.5rem 0 auto;
}

.about_mission_patch.floating_right_middle {
  background-color: var(--_color-values---swatch--red);
  inset: auto -9rem -4.5rem auto;
}

.about_mission_patch.floating_right_bottom {
  background-color: var(--_color-values---swatch--red);
  inset: auto -4.5rem -9rem auto;
}

.about_team_block {
  margin-top: var(--_defaults---gap--8);
  grid-column-gap: var(--_defaults---gap--9);
  grid-row-gap: var(--_defaults---gap--9);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.about_team_item {
  height: 100%;
  padding: var(--_defaults---gap--5) var(--_defaults---gap--5) var(--_defaults---gap--7);
  background-color: var(--surface--secondary);
  position: relative;
}

.about_team_item_img_wrapper {
  margin-bottom: var(--_defaults---gap--5);
  position: relative;
}

.about_team_item_img {
  object-fit: cover;
  width: 100%;
}

.about_team_item_role {
  opacity: .4;
}

.about_team_item_patch {
  background-color: var(--_color-values---swatch--red);
  width: .75rem;
  height: .75rem;
  position: absolute;
  inset: auto auto 0% 0%;
}

.about_team_item_img_patch {
  background-color: var(--surface--secondary);
  width: .75rem;
  height: .75rem;
  position: absolute;
  inset: 0% .75rem auto auto;
}

.about_team_item_img_patch.floating_right {
  top: .75rem;
  right: 0;
}

.header_nav_trigger {
  flex-flow: column;
  justify-content: space-between;
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}

.header_nav_trigger_line {
  background-color: var(--_color-values---swatch--dark);
  width: 100%;
  height: .25rem;
  position: relative;
}

.header_nav_trigger_line_mark {
  background-color: var(--_color-values---swatch--red);
  width: 0;
  height: 100%;
  transition: width .25s;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.header_nav_backdrop {
  display: none;
}

.header_nav_link_mark {
  width: 1rem;
  height: 1rem;
  font-size: .75rem;
  line-height: 100%;
  font-weight: var(--_type-values---weight--1);
  justify-content: center;
  align-items: center;
  margin-top: .75rem;
  display: none;
}

.header_nav_legal_link {
  text-transform: uppercase;
}

.header_nav_legal_link:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  opacity: .6;
}

.header_nav_legal_link:hover:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  opacity: 100;
}

.header_nav_legal_link.w--current:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  opacity: 1;
}

.footer_form_success:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  background-color: var(--surface--secondary);
  height: 5rem;
  color: var(--ink--primary);
  padding: 0;
}

.footer_form_success_text:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.footer_form_submit_actual:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  opacity: 0;
  background-color: #0000;
  width: 100%;
  height: 100%;
  position: absolute;
}

.footer_nav_link_mark {
  width: 1rem;
  height: 1rem;
  font-size: .75rem;
  line-height: 100%;
  font-weight: var(--_type-values---weight--1);
  justify-content: center;
  align-items: center;
  margin-top: .75rem;
  display: none;
}

.footer_nav_link_mark:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  margin-top: 0;
}

.footer_nav_link {
  opacity: .6;
}

.footer_nav_link:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer_nav_link:hover:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  opacity: 100;
}

.footer_nav_link.w--current:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  opacity: 1;
}

.background-video {
  pointer-events: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0% 0% 0% 10%;
}

.header_nav_animation:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  width: 100%;
  overflow: hidden;
}

.header_nav_lottie:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  width: 40rem;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.header_nav_link_patch {
  background-color: var(--_color-values---swatch--navy);
  opacity: 0;
  width: .5rem;
  height: .5rem;
  transition: opacity .25s;
  position: absolute;
  left: 0;
}

.code-embed {
  transform: translate(-3%);
}

.link_background_cover {
  z-index: 1;
  background-color: var(--ink--accent);
  clip-path: inset(100% 0% 0%);
  position: absolute;
  inset: 0%;
}

.link_text {
  z-index: 2;
  position: relative;
}

.slot {
  flex-flow: column;
}

.page_wrapper {
  width: 100%;
}

.page_container {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.page_transition_container {
  z-index: 10;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  opacity: 0;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100lvh;
  display: none;
  position: fixed;
  inset: 0%;
}

.header_stock {
  position: relative;
}

.header_stock_absolute {
  position: absolute;
  inset: 0% auto 0% 0%;
}

.header_brand_group {
  grid-column-gap: var(--_defaults---gap--5);
  grid-row-gap: var(--_defaults---gap--5);
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer_lottie_target:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  width: 0;
  height: 0;
}

.cookies_wrapper {
  z-index: 999999;
  width: 100vw;
  margin-bottom: var(--_type-values---size--3);
  position: fixed;
  inset: auto 0% 0%;
}

.cookies_section {
  width: 100%;
  max-width: var(--_defaults---layout--width);
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.cookies {
  max-width: 25.5rem;
  margin-right: var(--_defaults---gap--7);
  padding: var(--_defaults---gap--5) var(--_defaults---gap--8) var(--_defaults---gap--5) var(--_defaults---gap--6);
  grid-column-gap: var(--_defaults---gap--5);
  grid-row-gap: var(--_defaults---gap--5);
  background-color: var(--surface--secondary);
  font-size: .875rem;
  line-height: var(--_type-values---font-height--140);
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.cookies_patch {
  width: var(--_defaults---gap--7);
  background-color: var(--surface--secondary);
  height: calc(100% - var(--_defaults---gap--7));
  position: absolute;
  top: 0%;
  bottom: auto;
  right: 100%;
}

.cookies_actions {
  grid-column-gap: var(--_defaults---gap--5);
  grid-row-gap: var(--_defaults---gap--5);
  flex-flow: wrap;
  display: flex;
}

.cookies_link {
  font-size: var(--_type-system---font-size);
  --_type-system---font-family: var(--_type-values---family--1);
  --_type-system---font-size: var(--_type-values---size--0);
  --_type-system---line-height: var(--_type-values---font-height--130);
  --_type-system---font-weight: var(--_type-values---weight--0);
  --_type-system---letter-spacing: var(--_type-values---spacing--0em);
  --_type-system---text-transform: var(--_type-values---transform--none);
  --_type-system---text-decoration: var(--_type-values---decoration--none);
  text-decoration: underline;
}

.cookies_link_secondary {
  color: var(--ink--tertiary);
  font-size: var(--_type-system---font-size);
  --_type-system---font-family: var(--_type-values---family--1);
  --_type-system---font-size: var(--_type-values---size--0);
  --_type-system---line-height: var(--_type-values---font-height--130);
  --_type-system---font-weight: var(--_type-values---weight--0);
  --_type-system---letter-spacing: var(--_type-values---spacing--0em);
  --_type-system---text-transform: var(--_type-values---transform--none);
  --_type-system---text-decoration: var(--_type-values---decoration--none);
}

.cookies_close {
  width: var(--_defaults---gap--7);
  height: var(--_defaults---gap--7);
  background-color: var(--_color-values---swatch--blue);
  color: var(--_color-values---swatch--light);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0% 0% auto auto;
}

@media screen and (max-width: 991px) {
  .header_nav {
    z-index: 99;
    width: 100%;
    padding-top: var(--_defaults---gap--8);
    opacity: 0;
    pointer-events: none;
    color: var(--_color-values---swatch--light);
    flex-flow: column;
    transition: opacity .45s;
    position: absolute;
    inset: 100% 0 0%;
  }

  .header_nav_link {
    color: #ffffff80;
    font-size: 2rem;
    line-height: var(--_type-system---line-height);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: color-mix(in srgb, var(--_color-values---swatch--dark) 95%, var(--_color-values---swatch--light));
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1rem;
  }

  .header_nav_link.w--current {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .hero_video_wrapper {
    width: 115vw;
  }

  .hero_patch {
    display: none;
  }

  .strategy_block {
    padding-right: var(--_defaults---gap--0);
    padding-left: var(--_defaults---gap--0);
  }

  .strategy_nav_item {
    white-space: nowrap;
  }

  .strategy_content {
    margin-top: var(--_defaults---gap--7);
    grid-template-columns: 1.5fr;
  }

  .leadership_block_group {
    padding: var(--_defaults---gap--8) var(--_defaults---gap--6) var(--_defaults---gap--11);
  }

  .leadership_block_name {
    padding: var(--_defaults---gap--7);
  }

  .leadership_block_signature.mt7 {
    height: 4rem;
  }

  .leadership_block_float {
    left: var(--_defaults---gap--7);
    right: auto;
  }

  .leadership_block_img {
    object-fit: cover;
    height: 100%;
  }

  .standard_block, .future_block {
    grid-template-columns: 1fr 1fr;
  }

  .holders_patch {
    width: var(--_defaults---gap--8);
    height: var(--_defaults---gap--8);
  }

  .news_block, .news_block.smaller, .news_block.smallest, .news_block.smaller, .news_block.smallest {
    grid-template-columns: 1fr;
  }

  .investors_data_section_line.negative {
    margin-top: 0;
  }

  .about_team_block {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .news_feature_block.mt6 {
    flex-flow: column;
    grid-template-rows: auto;
    display: flex;
  }

  .news_feature_item {
    grid-column-gap: var(--_defaults---gap--9);
    grid-row-gap: var(--_defaults---gap--9);
    place-content: start space-between;
    align-items: start;
  }

  .news_feature_item_patch {
    width: 3rem;
    height: 3rem;
  }

  .news_feature_item_patch.floating_left_top {
    bottom: 3rem;
  }

  .news_feature_item_patch.floating_right_bottom {
    top: 3rem;
  }

  .news_feature_item_patch.floating_right_top {
    right: -3rem;
  }

  .news_nav_list_item.go_back {
    position: static;
  }

  .news_article_block {
    grid-template-columns: 100%;
  }

  .news_article_data {
    position: static;
  }

  .header_nav_trigger {
    cursor: pointer;
    display: flex;
  }

  .header_nav_trigger_line {
    height: .175rem;
  }

  .header_nav_backdrop {
    z-index: 9;
    width: 105vw;
    height: 0;
    bottom: 0%;
    left: -5.5vw;
    right: 0%;
    top: calc(-1 * var(--_defaults---gap--7));
    background-color: #0b0d19;
    padding-bottom: 0;
    padding-right: 0;
    transition-property: height;
    transition-duration: .35s;
    transition-timing-function: ease;
    display: block;
    position: absolute;
  }

  .header_nav_link_mark {
    margin-top: .5rem;
    display: flex;
  }

  .header_nav_legal {
    margin-top: var(--_defaults---gap--7);
    grid-column-gap: var(--_defaults---gap--7);
    grid-row-gap: var(--_defaults---gap--7);
    display: flex;
  }

  .header_nav_legal_link {
    opacity: .5;
  }

  .holders_head {
    padding-top: var(--_defaults---gap--9);
  }

  .news_grid {
    grid-template-columns: 100%;
    position: relative;
  }

  .footer_nav_link_mark {
    display: flex;
  }

  .future_block_graph {
    grid-column-gap: var(--_defaults---gap--2);
    grid-row-gap: var(--_defaults---gap--2);
  }

  .future_block_graph_wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .holders_graph_item_caption {
    font-size: .75rem;
  }

  .investors_team_block {
    grid-template-columns: 1fr 1fr;
  }

  .strategy_media_video {
    height: 265px;
  }

  .news_article_pdf_modal_content {
    width: 90%;
  }

  .legal_block {
    flex-flow: column;
  }

  .header_nav_animation {
    margin-bottom: var(--_defaults---gap--2);
  }

  .investors_data_financials_block {
    grid-template-columns: 1fr;
  }

  .investors_data_financials_tab, .investors_data_sec_filter {
    flex: 1;
  }

  .investors_data_sec_table_row {
    grid-template-columns: 1fr 2.5fr 1fr;
  }

  .strategy_content_item_text {
    font-size: .875rem;
  }

  .strategy_block_bg {
    width: 100vw;
  }

  .header_stock_absolute {
    position: static;
  }

  .strategy_content_top_title {
    --_type-system---font-family: var(--_type-values---family--1);
    --_type-system---font-size: var(--_type-values---size--2);
    --_type-system---line-height: var(--_type-values---font-height--130);
    --_type-system---font-weight: var(--_type-values---weight--0);
    --_type-system---letter-spacing: var(--_type-values---spacing--0em);
    --_type-system---text-transform: var(--_type-values---transform--none);
    --_type-system---text-decoration: var(--_type-values---decoration--none);
    width: 100%;
    max-width: 70ch;
  }

  .strategy_content_top_text {
    max-width: 50ch;
    font-size: .875rem;
  }

  .container {
    max-width: 728px;
  }

  .navbar-wrapper-three {
    justify-content: space-between;
  }

  .navbar-brand-three {
    position: relative;
  }

  .nav-menu-wrapper-three {
    background-color: #0000;
    top: 70px;
  }

  .nav-menu-three {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .news_featured_item_title.f2.mb6 {
    min-width: 100%;
  }

  .learn_list_block {
    min-width: auto;
    max-width: 100%;
  }

  .header_nav_legal_link-2 {
    opacity: .5;
  }

  .news_article_pdf_modal_content-2 {
    width: 90%;
  }

  .header_nav-2 {
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    color: #fff;
    flex-flow: column;
    width: 100%;
    padding-top: clamp(4rem, 2.222vw + 3.5rem, 5.5rem);
    transition: opacity .45s;
    position: absolute;
    inset: 100% 0 0%;
  }

  .header_nav_link_mark-2 {
    margin-top: .5rem;
    display: flex;
  }

  .header_nav_trigger_line-2 {
    height: .175rem;
  }

  .footer_nav_link_mark-2 {
    display: flex;
  }

  .news_article_data-2 {
    position: static;
  }

  .news_article_block-2 {
    grid-template-columns: 100%;
  }

  .header_nav_animation-2 {
    margin-bottom: .25rem;
  }

  .header_nav_legal-2 {
    grid-column-gap: clamp(1.5rem, .741vw + 1.333rem, 2rem);
    grid-row-gap: clamp(1.5rem, .741vw + 1.333rem, 2rem);
    margin-top: clamp(1.5rem, .741vw + 1.333rem, 2rem);
    display: flex;
  }

  .header_nav_link-2 {
    color: #ffffff80;
    border-bottom: 1px solid #161616;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1rem;
    font-size: 2rem;
    line-height: 130%;
  }

  .header_nav_link-2.w--current {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header_nav_backdrop-2 {
    z-index: 9;
    background-color: #0b0d19;
    width: 105vw;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
    transition-property: height;
    transition-duration: .35s;
    transition-timing-function: ease;
    display: block;
    position: absolute;
    inset: calc(-1 * clamp(1.5rem, .741vw + 1.333rem, 2rem)) 0% 0% -5.5vw;
  }

  .header_nav-3 {
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    color: #fff;
    flex-flow: column;
    width: 100%;
    padding-top: clamp(2.5rem, .741vw + 2.333rem, 3rem);
    transition: opacity .45s;
    position: absolute;
    inset: 100% 0 0%;
  }

  .header_nav_link_mark-3 {
    margin-top: .5rem;
    display: flex;
  }

  .header_nav_trigger_line-3 {
    height: .175rem;
  }

  .learn_nav_list_item.go_back {
    position: static;
  }

  .learn_article_pdf_modal_content {
    width: 90%;
  }

  .footer_nav_link_mark-3 {
    display: flex;
  }

  .learns_article_block {
    flex-flow: column;
    grid-template-columns: 100%;
    display: flex;
  }

  .header_nav_link-3 {
    color: #ffffff80;
    border-bottom: 1px solid #161616;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1rem;
    font-size: 2rem;
    line-height: 130%;
  }

  .header_nav_link-3.w--current {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .learn_article_data {
    position: static;
  }

  .div-block-9 {
    min-width: 100%;
    height: 130px;
  }

  .section-2 {
    max-width: 100%;
  }

  .stock_update-inline.tt1 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header_logo {
    width: 5.5rem;
  }

  .header_logo.show-sm {
    height: 1rem;
  }

  .hero_img_wrapper {
    z-index: -1;
    margin-top: -1rem;
    margin-bottom: 5rem;
  }

  .hero_video_wrapper {
    width: 180vw;
  }

  .hero_lines.float_right {
    left: 65%;
    right: auto;
  }

  .hero_lines.float_left {
    left: auto;
    right: 65%;
  }

  .strategy_block {
    padding: var(--_defaults---gap--2) var(--_defaults---gap--0) var(--_defaults---gap--6);
  }

  .strategy_nav_item {
    min-width: 100%;
    padding-top: var(--_defaults---gap--5);
    padding-bottom: var(--_defaults---gap--5);
    display: none;
  }

  .strategy_nav_item.is--active {
    display: flex;
  }

  .strategy_nav_item_icon {
    aspect-ratio: 1;
    background-color: var(--_color-values---swatch--navy);
    width: auto;
    height: 100%;
    color: var(--_color-values---swatch--light);
    position: absolute;
    inset: 0% 0% 0% auto;
  }

  .strategy_content {
    margin-top: var(--_defaults---gap--6);
    grid-row-gap: var(--_defaults---gap--4);
  }

  .partnership_block {
    grid-column-gap: var(--_defaults---gap--0);
    grid-row-gap: var(--_defaults---gap--8);
    grid-template-columns: 1fr 2.5rem;
  }

  .partnership_block_img.second, .partnership_path {
    display: none;
  }

  .leadership_block {
    grid-template-columns: 1fr;
  }

  .leadership_block_float {
    margin-top: var(--_defaults---gap--6);
    flex-flow: column;
    display: flex;
    inset: auto 0% 0%;
  }

  .leadership_block_img {
    width: 100%;
    height: auto;
  }

  .leadership_path {
    display: none;
  }

  .standard_block {
    grid-template-columns: 50% 50%;
    width: 100%;
  }

  .standard_block_path.floating_left {
    top: 95%;
    right: 85%;
  }

  .future_block {
    padding: var(--_defaults---gap--6) var(--_defaults---gap--5);
  }

  .holders_block {
    margin-bottom: var(--_defaults---gap--0);
    padding-right: var(--_defaults---gap--0);
    padding-bottom: var(--_defaults---gap--0);
    padding-left: var(--_defaults---gap--0);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .holders_graph {
    min-height: 85svh;
  }

  .news_block {
    grid-column-gap: var(--_defaults---gap--6);
    grid-row-gap: var(--_defaults---gap--6);
  }

  .footer_content:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
    grid-template-columns: 1fr;
  }

  .investors_block {
    grid-template-columns: 100%;
  }

  .investors_head_patch {
    display: none;
  }

  .investors_nav {
    padding-right: var(--_defaults---gap--0);
    padding-bottom: var(--_defaults---gap--8);
    border-bottom: 1px solid var(--stroke--primary);
    border-right-style: none;
  }

  .investors_data {
    padding-right: var(--_defaults---gap--0);
    padding-left: var(--_defaults---gap--0);
  }

  .investors_data_section_line.negative {
    margin-top: 0;
  }

  .investors_data_metrics {
    grid-row-gap: var(--_defaults---gap--8);
  }

  .about_team_block {
    grid-template-columns: 1fr 1fr;
  }

  .news_feature_block.mt6 {
    grid-template-columns: .75fr;
  }

  .news_feature_item {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column-reverse;
    justify-content: flex-end;
    align-items: stretch;
    display: flex;
  }

  .news_list_block {
    grid-template-columns: 100%;
  }

  .news_list_nav {
    padding-right: var(--_defaults---gap--0);
    padding-bottom: var(--_defaults---gap--8);
    border-bottom: 1px solid var(--stroke--primary);
    border-right-style: none;
    position: static;
  }

  .news_list_wrapper {
    padding-right: var(--_defaults---gap--0);
    padding-left: var(--_defaults---gap--0);
  }

  .news_article_head_patch {
    display: none;
  }

  .news_article_head_content {
    grid-template-columns: 1fr;
  }

  .header_nav_link_mark {
    width: .75rem;
    height: .75rem;
    font-size: .5rem;
  }

  .strategy_content_item_img {
    display: none;
  }

  .holders_link_wrapper {
    flex-flow: column;
    display: flex;
    bottom: -5rem;
    left: 0;
    right: 0;
  }

  .holders_head {
    padding-right: var(--_defaults---gap--8);
    padding-bottom: var(--_defaults---gap--8);
    padding-left: var(--_defaults---gap--8);
  }

  .news_grid {
    padding-bottom: var(--_defaults---gap--11);
  }

  .news_grid_link_wrapper {
    flex-flow: column;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .footer_nav_link_mark {
    width: .75rem;
    height: .75rem;
    font-size: .5rem;
  }

  .future_block_graph_item {
    padding-bottom: var(--_defaults---0);
  }

  .future_block_graph_item_highlight {
    grid-template-columns: .5fr 1fr 1fr;
  }

  .future_block_graph_wrapper {
    padding: var(--_defaults---gap--0);
    background-color: #0000;
    flex-flow: column-reverse;
  }

  .strategy_media_video {
    height: 250px;
  }

  .news_article_pdf_modal_content {
    height: 80svh;
    max-height: none;
    padding-left: 5%;
    padding-right: 5%;
  }

  .future_link_wrapper {
    margin-top: var(--_defaults---gap--7);
    flex-flow: column;
    display: flex;
    bottom: -5rem;
    left: 0;
    right: 0;
  }

  .strategy_content_top_title {
    --_type-system---font-family: var(--_type-values---family--1);
    --_type-system---font-size: var(--_type-values---size--1);
    --_type-system---line-height: var(--_type-values---font-height--130);
    --_type-system---font-weight: var(--_type-values---weight--0);
    --_type-system---letter-spacing: var(--_type-values---spacing--0em);
    --_type-system---text-transform: var(--_type-values---transform--none);
    --_type-system---text-decoration: var(--_type-values---decoration--none);
  }

  .header_brand_group {
    grid-column-gap: var(--_defaults---gap--4);
    grid-row-gap: var(--_defaults---gap--4);
  }

  .navbar-brand-three {
    padding-left: 0;
  }

  .nav-menu-three {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-menu-block {
    flex-direction: column;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
    box-shadow: none;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .learn_list_block {
    grid-template-columns: 1fr;
  }

  .learn_list_nav {
    position: static;
  }

  .learn_list_wrapper {
    padding-right: var(--_defaults---gap--0);
    padding-left: var(--_defaults---gap--0);
    margin-left: auto;
    margin-right: auto;
  }

  .learn_block {
    grid-column-gap: 19px;
    grid-row-gap: 19px;
    grid-template-columns: 1fr;
  }

  .learn_block_item {
    margin-bottom: 0;
  }

  .div-block-7 {
    margin-top: 22px;
  }

  .news_article_head_patch-2 {
    display: none;
  }

  .news_article_pdf_modal_content-2 {
    height: 80svh;
    max-height: none;
    padding-left: 5%;
    padding-right: 5%;
  }

  .header_nav_link_mark-2, .footer_nav_link_mark-2 {
    width: .75rem;
    height: .75rem;
    font-size: .5rem;
  }

  .news_article_head_content-2 {
    grid-template-columns: 1fr;
  }

  .header_brand_group-2 {
    grid-column-gap: clamp(.625rem, .185vw + .583rem, .75rem);
    grid-row-gap: clamp(.625rem, .185vw + .583rem, .75rem);
  }

  .footer_content-2.invert-3 {
    grid-template-columns: 1fr;
  }

  .learn_article_head_patch {
    display: none;
  }

  .learn_article_head_content {
    grid-template-columns: 1fr;
  }

  .header_nav_link_mark-3 {
    width: .75rem;
    height: .75rem;
    font-size: .5rem;
  }

  .learn_article_pdf_modal_content {
    height: 80svh;
    max-height: none;
    padding-left: 5%;
    padding-right: 5%;
  }

  .footer_nav_link_mark-3 {
    width: .75rem;
    height: .75rem;
    font-size: .5rem;
  }

  .learns_article_block {
    flex-flow: column;
    display: flex;
  }

  .div-block-9 {
    min-width: 100%;
    height: 200px;
  }
}

@media screen and (max-width: 479px) {
  .link_content {
    grid-column-gap: var(--_defaults---gap--6);
    grid-row-gap: var(--_defaults---gap--6);
    white-space: nowrap;
    height: 2.25rem;
    padding-left: .75rem;
  }

  .link_icon_wrapper {
    width: 1.25rem;
    height: 1.25rem;
  }

  .header_block {
    padding: var(--_defaults---gap--6) var(--_defaults---gap--5);
  }

  .header_logo {
    width: 5rem;
  }

  .header_block_patch {
    width: var(--_defaults---gap--5);
    height: var(--_defaults---gap--5);
  }

  .responsive-break {
    display: inline;
  }

  .hero_video_wrapper {
    width: 220vw;
    min-width: 200vw;
  }

  .hero_lines.float_right {
    width: 13rem;
    height: auto;
    left: 55%;
  }

  .hero_lines.float_left {
    width: 10rem;
    height: auto;
    right: 55%;
  }

  .strategy_nav {
    position: relative;
  }

  .strategy_nav_item {
    z-index: 3;
    display: flex;
  }

  .strategy_nav_item.is--active {
    z-index: 1;
    z-index: 1;
  }

  .strategy_content_bottom {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
  }

  .strategy_content_item {
    width: 100%;
    padding: var(--_defaults---gap--5) 15px;
    background-color: var(--surface--primary);
  }

  .strategy_content_item_group.ff1 {
    width: 100%;
  }

  .strategy_content_item_title {
    --_type-system---font-family: var(--_type-values---family--1);
    --_type-system---font-size: var(--_type-values---size--0);
    --_type-system---line-height: var(--_type-values---font-height--130);
    --_type-system---font-weight: var(--_type-values---weight--0);
    --_type-system---letter-spacing: var(--_type-values---spacing--0em);
    --_type-system---text-transform: var(--_type-values---transform--none);
    --_type-system---text-decoration: var(--_type-values---decoration--none);
  }

  .leadership_block_name {
    padding: var(--_defaults---gap--6);
  }

  .partneship_patch {
    right: var(--_defaults---gap--8);
    width: var(--_defaults---gap--8);
    height: var(--_defaults---gap--8);
  }

  .partneship_patch.floating_right {
    top: var(--_defaults---gap--8);
    top: var(--_defaults---gap--8);
  }

  .leadership_block_float {
    position: absolute;
  }

  .standard_block {
    grid-template-columns: 100%;
  }

  .future_block, .news_block {
    grid-template-columns: 1fr;
  }

  .investors_data_metrics {
    grid-template-columns: 1fr 1fr;
  }

  .about_team_block {
    grid-template-columns: 1fr;
  }

  .news_feature_block.mt6 {
    grid-auto-flow: row;
    margin-top: 24px;
  }

  .news_feature_heading.f6.mt6 {
    width: 100%;
    max-width: none;
    min-width: var(--_type-values---font-height--160);
    width: 100%;
    max-width: none;
    min-width: var(--_type-values---font-height--160);
    width: 100%;
    max-width: none;
    min-width: var(--_type-values---font-height--160);
  }

  .news_feature_item_patch {
    width: 2rem;
    height: 2rem;
  }

  .news_feature_item_patch.floating_left_top {
    bottom: 2rem;
  }

  .news_feature_item_patch.floating_right_bottom {
    top: 2rem;
  }

  .news_feature_item_patch.floating_right_top {
    right: -2rem;
  }

  .learn_article_head_img {
    aspect-ratio: 2.39;
    display: block;
  }

  .header_nav_trigger {
    cursor: pointer;
  }

  .header_nav_backdrop {
    left: -8.5vw;
  }

  .holders_head {
    padding-right: var(--_defaults---gap--7);
    padding-left: var(--_defaults---gap--7);
  }

  .future_block_graph_item {
    padding-bottom: var(--_defaults---gap--5);
  }

  .future_block_graph_item_highlight {
    grid-template-columns: .5fr 1fr;
  }

  .future_block_graph_wrapper, .investors_team_block {
    grid-template-columns: 1fr;
  }

  .news_article_pdf_modal_content {
    font-size: 1rem;
  }

  .investors_data_gov_item_button_text {
    display: none;
  }

  .strategy_content_item_text {
    font-size: .75rem;
  }

  .page_transition_container {
    z-index: 997;
  }

  .strategy_content_icon {
    display: block;
    position: absolute;
    top: .3rem;
    right: 0;
  }

  .strategy_content_item_panel {
    width: 100%;
  }

  .strategy_content_top_title {
    margin-bottom: var(--_defaults---gap--4);
  }

  .strategy_content_top_text {
    font-size: .75rem;
  }

  .investors_presentation_table_row {
    grid-template-columns: 1fr .25fr;
  }

  .cookies {
    max-width: 20rem;
  }

  .container {
    max-width: none;
  }

  .nav-menu-three {
    flex-direction: column;
  }

  .news_article_pdf_modal_content-2 {
    font-size: 1rem;
  }

  .header_block_patch-2 {
    width: clamp(.75rem, .37vw + .667rem, 1rem);
    height: clamp(.75rem, .37vw + .667rem, 1rem);
  }

  .header_block-2 {
    padding: clamp(1.25rem, .37vw + 1.167rem, 1.5rem) clamp(.75rem, .37vw + .667rem, 1rem);
  }

  .header_nav_backdrop-2 {
    left: -8.5vw;
  }

  .header_block_patch-3 {
    width: clamp(.75rem, .37vw + .667rem, 1rem);
    height: clamp(.75rem, .37vw + .667rem, 1rem);
  }

  .header_block-3 {
    padding: clamp(1.25rem, .37vw + 1.167rem, 1.5rem) clamp(.75rem, .37vw + .667rem, 1rem);
  }

  .learn_article_pdf_modal_content {
    font-size: 1rem;
  }

  .learns_article_block {
    grid-column-gap: var(--_defaults---gap--6);
    grid-row-gap: var(--_defaults---gap--8);
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .learn_article_data {
    order: 0;
    display: block;
  }

  .div-block-9 {
    background-image: url("../assets/images/background-image.svg"), url("../assets/images/background-image.svg"), url("../assets/images/background-image.svg");
    background-position: 0 0, 50%, 0 0;
    background-size: contain, cover, auto;
    min-width: 100%;
    height: 65px;
  }
}

#w-node-_9d93f7f9-8f5a-808a-4561-5116c970a3df-40ebeb39:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
  align-self: end;
}

@media screen and (max-width: 767px) {
  #w-node-_30283316-b2d7-1d02-8a9c-9cc0b90d4f93-40ebeb39:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_9d93f7f9-8f5a-808a-4561-5116c970a3df-40ebeb39:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_884da46a-81bc-7fa8-8a7b-8250a55cbbf8-a8a55cdc:where(.w-variant-d9d62d56-258d-64fb-73a1-a04c40ebeb3d) {
    grid-area: 2 / 1 / 3 / 2;
  }
}
